# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode stuff
.vscode

# Build directories
build/
list/build/

# Mac stuff
*/.DS_Store

# Tex stuff
semantics/*.pdf
semantics/*.aux
semantics/*.fdb_latexmk
semantics/*.log 
semantics/*.fls
semantics/*.synctex.gz